.masthead {
  padding: .5rem 0;
}

.masthead .nav-link:hover {
  color: #fff;
  border-bottom-color: #fff;
}

.masthead-brand {
  color: #fff;
  font-size: 1.5rem;
}

.masthead-brand .nav-link {
  color: #fff;
  padding: 0;
  display: inline-block;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  margin: 0 .5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  border-top: .25rem solid transparent;
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 82vh;
}

footer {
  color: #fff;
  padding-top: .8rem;
  padding-bottom: .8rem;
}

footer .list-inline {
  margin-bottom: 0;
}

.social-icon {
  color: #fff;
  font-size: 1.5rem;
}

.social-icon:hover {
  color: #fff;
}

.resume section {
  background-color: #00000008;
  padding: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .masthead-brand * {
    text-align: center;
  }

  .home .img-wrap {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  header .nav {
    padding-left: 20px;
  }
}


